<section class="form">
  <mat-card
    ><input
      color="primary"
      class="button-footer"
      type="file"
      accept=".xlsx, .xls"
      (change)="onFileChange($event)"
    />
  </mat-card>
  <mat-card>
    <form>
      <p class="testsection">
        <mat-form-field>
          <mat-label>Test Title</mat-label>
          <mat-select [(ngModel)]="selectedTest" name="selectedTest">
            <mat-option *ngFor="let test of tests" [value]="test">
              {{ test.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="getScore()">
          Get
        </button>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Test Score</mat-label>
          <input matInput placeholder="Test Score" [value]="score" readonly />
        </mat-form-field>
      </p>
      <table class="mat-table">
        <thead>
          <tr>
            <th>Index</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let candidate of candidates; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ candidate.name }}</td>
            <td>{{ candidate.email }}</td>
          </tr>
        </tbody>
      </table>
      <button
        mat-raised-button
        color="primary"
        class="button-footer"
        (click)="assign()"
      >
        Assign Test
      </button>
      <button
        mat-raised-button
        color="primary"
        class="button-footer"
        routerLink="/view-candidate"
      >
        Back
      </button>
    </form>
  </mat-card>
</section>
