@import "../app.component.scss";

.form {
  padding: 10px;

  p {
    margin-left: 15px;
    margin-top: 10px;
    mat-form-field {
      width: 100%;
    }
  }
  .alert {
    text-align: center;
    color: red;
  }
  .testsection {
    display: flex;
    button {
      height: 55px;
    }
  }
}
