@import "../app.component.scss";
.form {
  padding: 10px;

  p {
    margin-left: 15px;
    margin-top: 10px;
    mat-form-field {
      width: 100%;
    }
  }
  .button-footer {
    width: 30%;
    text-transform: uppercase;
  }
  .button-group {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
}
