<section class="form">
  <mat-card>
    <form (ngSubmit)="onSubmit()" #myForm="ngForm">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Test Title</mat-label>
          <input
            matInput
            placeholder="Test Title"
            name="title"
            [(ngModel)]="title"
            required
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Test Score</mat-label>
          <input
            matInput
            placeholder="Test Score"
            [value]="totalScore"
            readonly
          />
        </mat-form-field>
      </p>
      <table class="mat-table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Score</th>
            <th>Level</th>
            <th>Select</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let question of questions; let i = index">
            <td>{{ question.title }}</td>
            <td>{{ question.score }}</td>
            <td>{{ question.level }}</td>
            <td>
              <mat-checkbox (change)="updateTotalScore(i)"></mat-checkbox>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="button-group">
        <button
          mat-raised-button
          color="primary"
          class="button-footer"
          [disabled]="myForm.invalid"
        >
          Save Test
        </button>
        <button
          mat-raised-button
          color="primary"
          class="button-footer"
          routerLink="/view-test"
        >
          Back
        </button>
      </div>
    </form>
  </mat-card>
</section>
