<section class="form">
  <mat-card>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Question Title</mat-label>
          <input
            matInput
            formControlName="title"
            placeholder="Question Title"
          />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Question Description</mat-label>
          <textarea matInput formControlName="description" rows="3"></textarea>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Difficulty Level</mat-label>
          <mat-select formControlName="level">
            <mat-option *ngFor="let level of levels" [value]="level">{{
              level
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <mat-label>Question Type</mat-label>
          <mat-select formControlName="type" (selectionChange)="OnChange()">
            <mat-option *ngFor="let type of types" [value]="type">{{
              type
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <div class="language-section" [hidden]="!languages">
        <mat-label [hidden]="languages" class="alert"
          >Click the type to display languages for coding</mat-label
        >
        <div class="checkbox-container" *ngFor="let language of languages">
          <input
            type="checkbox"
            class="styled-checkbox"
            (change)="onSelect(language)"
          />
          <label for="myCheckbox" class="checkbox-label">{{ language }}</label>
        </div>
      </div>
      <p>
        <textarea
          class="template"
          *ngFor="let lang of displayTextArea | keyvalue; let i = index"
          [hidden]="!lang.value"
          [(ngModel)]="templates[lang.key]"
          rows="5"
          [ngModelOptions]="{ standalone: true }"
        >
        </textarea>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Score</mat-label>
          <input
            matInput
            formControlName="score"
            type="number"
            min="0"
            max="100"
            step="10"
          />
        </mat-form-field>
      </p>
      <div class="button-group">
        <button
          mat-raised-button
          color="primary"
          class="button-footer"
          type="submit"
        >
          Save Question
        </button>
        <button
          mat-raised-button
          color="primary"
          class="button-footer"
          routerLink="/view-question"
        >
          Back
        </button>
      </div>
    </form>
  </mat-card>
</section>
