@import "../app.component.scss";
.table-section {
  margin: 25px auto;
  width: 60%;
  max-height: 316px;
  overflow-y: auto;

  th,
  td {
    text-align: center;
  }
}

.test-label-section {
  display: flex;
  position: relative;
  float: left;
  width: 20%;
  padding: 10px;
  top: 30px;
  left: 20px;
}
