@import "../app.component.scss";

.testcase-section {
  padding: 20px;
  h4 {
    text-align: left;
  }
  p {
    margin-left: 15px;
    margin-top: 10px;
    mat-form-field {
      width: 100%;
    }
  }
  textarea {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-left: 15px;
    font-size: 16px;
    width: 98%;
    margin-top: 15px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
}
