@import "../app.component.scss";

.testcase-section {
  padding: 20px;
  h4 {
    text-align: left;
  }
  p {
    margin-left: 15px;
    margin-top: 10px;
    mat-form-field {
      width: 100%;
    }
  }
}
