@import "../app.component.scss";

.template-section {
  padding: 20px;
  textarea {
    border: 2px solid green;
    border-radius: 5px;
    padding: 5px;
    margin-left: 15px;

    margin-top: 15px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    width: 98%;
    resize: none;
  }
}
