@import "../app.component.scss";
.table-section {
  button {
    width: 130px;
  }
  button:hover {
    color: white;
    background-color: rgb(23, 23, 158);
  }
}
.button-footer {
  width: 30%;
  text-transform: uppercase;
}
.button-group {
  display: flex;
  justify-content: space-around;
}
